# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore secret token.
/config/secret_token.yml

# Ignore coverage info.
/coverage

# Ignore public assets.
/public/assets

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
