#modal {
  display: block;
  opacity: .95;
  top: 20%;

  .logo {
    padding: 0 .5em;

    img {
      width: 100%;
      height: auto;
    }
  }

  form {
    margin: 0;
  }

  fieldset {
    padding-top: 1em;
  }
}
